<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Ofrecemos los siguientes servicios</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asesorías en formulación de proyectos educativos</h4>
                    <p class="text-muted">Tienes un proyecto pero no sabes que hacer, te podemos ayudar en la elaboración de tu proyecto</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Suministro de docentes emergentes y clases a domicilio</h4>
                    <p class="text-muted">No puedes asistir a clases por alguna urgencia, no dejes solos a tus alumnos, contactanos</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desarrollo de software Educativo</h4>
                    <p class="text-muted">Necesitas dar respuesta a una necesidad informatica, busca la respuesta en nosotros</p>
                </div>
            </div>
        </div>
    </section>
